body {
    display: flex;
    flex-direction: column;
    /* padding: 0px 128px; */
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 240px;
}

header .logo {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
    margin: 0px;    
}

header,
.content1,
footer {
    background-color: #1F2937;
}

ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.content1 {
    display: flex;
    justify-content: space-between;
    padding: 128px 240px;
}

.content1 h1 {
    font-size: 48px;
    color: #F9FAF8;
    margin: 0px;
}

.content1 p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px;
    text-align:start;
    padding-bottom: 8px;
}

.content1 .content1-left {
    margin-right: 48px;
    padding-right: 58px;
}

.content1 img {
    width: 800px;
    height: 300px;
}

button,
.content4 {
    background-color: #388fF6;
    color: white;
    border: none;
    text-align: center;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: bold;
}

.content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content2 .info-heading {
    font-size: 36px;
    font-weight: 800;
}

.random-pics {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 16px;
}

.content3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}
.author {
    align-self: flex-end;
}

.content4 {
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center;
}